# Parte 001

In [2]:
print('Olá, mundo')

Olá, mundo

In [3]:
msg = 'Olá, mundo!'
print(msg)

Olá, mundo!

In [4]:
nome = input('Digite seu nome')
print('é uma prazer', nome)

Digite seu nome furacão

é uma prazer furacão

# Parte 002

In [11]:
nome = input('Digite seu nome')
print('É um prazer te conhecer {}!' .format(nome))

Digite seu nome Falção

É um prazer te conhecer Falção!

In [9]:
n1 = int(input('Digite um número'))
n2 = int(input('Digite um número'))
n3 = int(input('Digite um número'))
s = (n1 + n2 + n3)
print('A soma dos números é {}' .format(s))

Digite um número 6
Digite um número 3
Digite um número 2

A soma dos números é 11

In [7]:
n1 = input('Dite um número')
print(type(n1))

Dite um número 3

<class 'str'>

In [3]:
n1 = int(input('Digite um número'))
n2 = int(input('Digite um número'))
n3 = int(input('Digite um número'))
s = (n1 + n2 + n3)
print('A soma de {} com {} mais {}  é igual a {}' .format(n1, n2 ,n3, s))

Digite um número 5
Digite um número 5
Digite um número 5

A soma de 5 com 5 mais 5  é igual a 15

In [11]:
val1 = int(input('Digite um valor'))
val2 = int(input('Digite outro valor'))
som = val1 + val2
print('A soma {} com {} é {}' .format(val1, val2, som))

Digite um valor 6
Digite outro valor 5

A soma 6 com 5 é 11

In [23]:
n = int(input('tecle'))
print(type(n))
b = bool(input('tecle'))
print(type(b))
f = float(input('tecle'))
print(type(f))
s = str(input('tecle'))
print(type(s))

tecle 3

<class 'int'>

tecle

<class 'bool'>

tecle 6.3

<class 'float'>

tecle 2

<class 'str'>

# Aula6 exercício 3

In [36]:
n1 = int(input('Digite um némro'))
n2 = int(input('Digite outro némro'))
soma = n1 + n2
print('A mosa entre {} e {} é igual a {}:' .format(n1, n2, soma))

Digite um némro 5
Digite outro némro 3

A mosa entre 5 e 3 é igual a 8:

In [9]:
n = input('Tecle')
print('O tipo primitivo desse valor, é:', type(n))
print('Só tem espaçoe:', n.isspace())
print('É um número?:', n.isnumeric())
print('É alfabético?:', n.isalpha())
print('É alfanumérico?:', n.isalnum())
print('Está em maiúculas?:', n.isupper())
print('Está em minúsculas?:', n.islower())
print('Está capitalizada?:,', n.istitle())
'''
Capitalizada é quando a palavra apresenta ltras maiúsculas e minúsculas ao mesmo tempo

'''

Tecle 3

O tipo primitivo desse valor, é: <class 'str'>
Só tem espaçoe: False
É um número?: True
É alfabético?: False
É alfanumérico?: True
Está em maiúculas?: False
Está em minúsculas?: False
Está capitalizada?:, False

'\nCapitalizada é quando a palavra apresenta ltras maiúsculas e minúsculas ao mesmo tempo\n\n'

## Aula 7 <br> Operadores matemáticos

In [9]:
'''(5+3)*2'''
3*(5+4)**2

243

In [27]:
v1 = int(input('Digite um valor'))
v2 = int(input('Digite outro valor'))
s = v1 + v2
sub = v1 - v2
m = v1 * v2
d = v1 / v2
di = v1 // v2
r = v1 % v2
p = v1 ** v2
print('A soma entre eles, é: {}, a subtração , é: {}, a multplicação, é: {}, a divisão, é {:.2f}, a divisão inteira, é: {},'
' e  o resto, é: {}' .format(s, sub, m, d, di, r), end = ' ')
print(', A potenciação é: {}' .format(p))

Digite um valor 1
Digite outro valor 3

A soma entre eles, é: 4, a subtração , é: -2, a multplicação, é: 3, a divisão, é 0.33, a divisão inteira, é: 0, e  o resto, é: 1 , A potenciação é: 1

## Exercicio 5
### Faça um programa que leia um número inteiro <br> e mostre na tela o seu secessor e antecessor

In [29]:
num = int(input('Digite um número'))
suc = num - 1
ant = num + 1
print('O número é: {}, seu sucessor, é: {} e seu antecessor, é {}' . format(num, suc, ant))

Digite um número 5

O número é: 5, seu sucessor, é: 4 e seu antecessor, é 6

### Faça um programa qu leia um némero <br>e mostre seu dobre, triplo e raiz quadrada.

In [1]:
num = int(input('Digite um némro'))
dob = num * 2
tri = num * 3
rq = num ** (1/2)
print('O número, é: {}, o seu dobro, é {}, o seu triplo, é: {} e a sua raiz quadrada, é:{:.2f}' .format(num, dob, tri, rq))

Digite um némro 81

O número, é: 81, o seu dobro, é 162, o seu triplo, é: 243 e a sua raiz quadrada, é:9.00

In [ ]:
## Desenvolva um progrma que leia

In [5]:
not1 = float(input('Primeira nota'))
not2 = float(input('Segunda nota'))
med = (not1 + not2) / 2
print('A média do aluno, é:', med)

Primeira nota 9.6
Segunda nota 9.8

A média do aluno, é: 9.7

In [8]:
met = float(input('Digite a medida em metros'))
cen = met * 100
mil = met * 1000
print(met, 'Metros')
print(cen, 'Centimtros')
print(mil, 'Milímetros')

Digite a medida em metros 1

1.0 Metros
100.0 Centimtros
1000.0 Milímetros

In [18]:
num = int(input('Digite um número para ver sua tabuaba'))
print('num x 0 = ',num * 0,
      'num x 1 = ',num * 1,
      'num x 2 = ',num * 2,
      'num x 3 = ',num * 3,
      'num x 4 = ',num * 4,
      'num x 5 = ',num * 5,
      'num x 6 = ',num * 6,
      'num x 7 = ',num * 7,
      'num x 8 = ',num * 8,
      'num x 9 = ',num * 9,
      'num x 10 = ',num * 10,)

Digite um número para ver sua tabuaba 2

num x 0 =  0 num x 1 =  2 num x 2 =  4 num x 3 =  6 num x 4 =  8 num x 5 =  10 num x 6 =  12 num x 7 =  14 num x 8 =  16 num x 9 =  18 num x 10 =  20

In [18]:
conv = float(input('Qual o seu valor em espécie?'))
print('R$', conv)
print(f'U$ {conv / (5.03):,.2f}')
print('U$', round(conv / 5.03,2))

Qual o seu valor em espécie? 85

R$ 85.0
U$ 16.90
U$ 16.9

## Fazer  um programa que leia a altura e a largua de uma parede em metros, <br> calcule a sua área e a quantidade de tinta necessária para pinta-la,<br> sabendo que cada litro de tinta pinta uma área de 2m².

In [25]:
metal = float(input('Qual a altura em metros?'))
metla = float(input('Qual a largura em metros?'))
ar = metal * metla
print('Área:', ar, 'm²')
print('Sua parede consome', ar/2, 'litros de tinta')

Qual a altura em metros? 3
Qual a largura em metros? 6

Área: 18.0 m²
Sua parede consome 9.0 litros de tinta

## Fazer um algorítmo que leia o preço de um produto e mostre seu novo preço com 5% de desconto.

In [32]:
pp = float(input('Informe o preço do produto'))
print('Preço com 5% de desconto', pp-(pp*0.05))
print(pp-((pp/100)*5))

Informe o preço do produto 253

Preço com 5% de desconto 240.35
240.35

## Fazer um algoritmo que leiao salário de um funcionário e mostre seu novo salário, com 15% de desconto.

In [38]:
sal = float(input('Digite seu salário: RS'))
print('Seu salário com 15% de desconto, é: RS', round( sal-(sal*0.15),2))

Digite seu salário: RS 5840.12

Seu salário com 15% de desconto, é: RS 4964.1

## Faça um programa que leia um número inteiro e mostre seu antecessor e seu sucessor.

In [45]:
ansu = int(input('Declare um número:'))
an = ansu - 1
su = ansu + 1
print('Seu antecessor é:', an)
print('Seu sucessor, é:', su)
print('O valor declarado é {}, seu antecessor é {} e seu sucessor é {}'.format(ansu, an, su))

Declare um número: 30

Seu antecessor é: 29
Seu sucessor, é: 31
O valor declarado é 30, seu antecessor é 29 e seu sucessor é 31

In [46]:
ansu = int(input('Declare um número:'))
print('O valor declarado é {}, seu antecessor é {} e seu sucessor é {}'.format(ansu, ansu-1, ansu+1))

Declare um número: 85

O valor declarado é 85, seu antecessor é 84 e seu sucessor é 86

## Crie um algorítmo que leia um número e mostre seu dobro, triplo e rais quadrada

In [26]:
n = float(input('Digite um núero:'))
print(n*2)
print(n*3)
print(n**(1/2))

Digite um núero: 6

12.0
18.0
2.449489742783178

In [21]:
n = int(input('Digite um número'))
d = n*2
t = n*3
r = n**(1/2)
print('O dorbo de {} é {}, seu tripli é {} e sua raiz quadrada é {:.2f}' .format(n, d,t,r))

Digite um número 6

O dorbo de 6 é 12, seu tripli é 18 e sua raiz quadrada é 2.45

## Média do aluno

In [30]:
m1 = float(input('Digite a primeira nota do aluno'))
m2 = float(input('Digite a segunda nota do aluno'))
m = (m1+m2)/2
print('Nota do 1ºB do aluno {} e a nota do 2ºB do aluno {}, onde seu média é {}' .format(m1, m2, m))

Digite a primeira nota do aluno 10
Digite a segunda nota do aluno 9

Nota do 1ºB do aluno 10.0 e a nota do 2ºB do aluno 9.0, onde seu média é 9.5